
{% extends "base.html" %}
{% block title %} Dag {% endblock %}
  
{% block page %}
<div class="container-fluid" style="margin-top: 4vh;">
    <div class="chart-container" style="position: relative; width:100%">
        <canvas id="myChart"></canvas>
    </div>
</div>        
<script>
    var labels = [
        {% for item in labels %}
            "{{item}}",
        {% endfor %}
    ];
 
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: labels,
            datasets: [{
                data: [10,20],
                backgroundColor: ['#4BC0C0', '#36A2EB']
            }] 
        }
    });         
</script>
{% endblock %}