
{% extends "base.html" %}
{% block title %} Dag {% endblock %}
  
{% block page %}
<div class="container-fluid" style="margin-top: 4vh;">
    <div class="chart-container" style="position: relative; width:100%">
        <canvas id="myChart"></canvas>
    </div>
</div>        
<script>
    var series_names = [
        {% for name in series_names %}
            "{{name}}",
        {% endfor %}
    ];
    var data = [
        {% for name, serie, color in bars %}
            {{serie}},
        {% endfor %}
    ];
    var colors = [
        {% for name, serie, color in bars %}
            '{{color}}',
        {% endfor %}
    ];
 
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: series_names,
            datasets: [{
                data: data,
                backgroundColor: colors,
            }]    
        }
    });         
</script>
{% endblock %}