{% extends "base.html" %}
{% block title %} Översikt {% endblock %}
  
{% block page %}
<div class="container-fluid">
    <h1>Overview</h1>

    <div class="container">
    {% for reg, start, end in cars %}
        <div class="row">
            <div class="col-6">
              {{ reg }}
            </div>
            <div class="col-sm">
              {{ start }}
            </div>
            <div class="col-sm">
              {{ end }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}