{% extends "base.html" %}
  
{% block page %}
<div class="container-fluid p-0">    
    <div class="container-fluid">
        <div class="row pt-2">
            <div class="col-6">
                <h5><span class="align-middle"><strong>Reg. nr.</strong></span></h5>
            </div>
            <div class="col-3">
              <h5><span class="align-middle">Hämtas</span></h5>
            </div>
            <div class="col-3 text-center">
              <h5><span class="align-middle">Lämnas</span></h5>
            </div>
        </div>
    </div>
    
    <div class="container-fluid car-list">
    {% for reg, start, end in cars %}
        <div class="row pt-3 pb-2">
            <div class="col-6">
              <h5><span class="text-monospace align-middle">{{ reg }}</span></h5>
            </div>
            <div class="col-3">
              <h5><span class="align-middle">{{ start }}</span></h5>
            </div>
            <div class="col-3 text-center">
              <h5><span class="align-middle">{{ end }}</span></h5>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
