
{% extends "base.html" %}
{% block title %} Dag {% endblock %}
  
{% block page %}

<div class="container-fluid" style="margin-top: 4vh;">
    <div class="row">
        <div class="col" align="center">
            <h1>{{ total }}</h1>
            <div>bokningar</div>
        </div>
        <div class="col" align="center">
            <h1>{{ traceable }}%</h1>
            <div>spårbarhet</div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 4vh;">
    <div class="chart-container" style="position: relative; height:50vh; width:90vw">
        <canvas id="myChart"></canvas>
    </div>
</div>        
<script>
    var labels = [
        {% for item in labels %}
            "{{item}}",
        {% endfor %}
    ];
 
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [
                {% for name, serie, color in bars%}
                {
                label: '{{name}}',
                backgroundColor: '{{color}}',
                data: {{serie}},
                },
                {% endfor %}
            ]
        },
        options: {
            legend: {
                position: 'bottom'
            },
            scales: {
                yAxes: [{
                    ticks: { beginAtZero:true },
                    stacked: true
                }],
                xAxes: [{
                    stacked: true,
                    barPercentage: 0.4
                }]
            }
        }
    });         
</script>
{% endblock %}